<ul class="guestSideBar" style="border: 2px solid purple; height: 100vh">
    <li><a href="/">Latest Movies</a></li>
    <li><a href="/">Latest Shows</a></li>
    <li><a href="/">Highest Rated Movies</a></li>
    <li><a href="/">Highest Rated Shows</a></li>
    <li><a href="/">Register for Bingrr!</a></li>
</ul>