<ul class="navbar sticky-top" style="border: 1px solid black; background-color: rgba(138, 43, 226, 0.25); margin: 0">
    <li>
        <a href="/main">Home</a>
    </li>    
    <li>
        <a href="/favorites/movies">Movies</a>
    </li>
    <li>
        <a href="/favorites/shows">Shows</a>
    </li>    
    <li >
        <form action="/search" method="POST">
            <div class="input-group">
                <input class="form-control w-50" placeholder="search movies and shows!">
                <span class="input-group-btn" >
                    <button class="btn btn-danger">Search!</button>
                </span>
            </div>
        </form>
    </li>
</ul>



