<%- include("./partials/header") %>

<div class="d-flex landing" style="height: 100vh">
    <div class="container d-flex justify-items-center align-items-center">
        <div class="signIn text-center">
        <% if (currentUser) { %>
        <a href="/main"><button class="signInButton p-2 m-3">Continue as <%= currentUser.userName%></button></a>
        <a href="/session/switch"><button class="signInButton p-2 m-3">Switch User</button></a>
        <% } else { %>
            <a href="/signIn"><button class="signInButton p-2 m-3">Sign In</button></a>
            <a href="/register"><button class="signInButton p-2 m-3">Sign Up!</button></a>
            <% } %>
            <div class="space" id="space"></div>
            <a href="/guest"><button class ="signInButton p-2 m-3">Continue as Guest</button></a>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>