
<%- include("../partials/header") %>

<div class="d-flex landing" style="height: 100vh">
    <div class="container d-flex justify-items-center align-items-center">
        <div class="signIn text-center">
        <form action="/session" method="POST" class="text-center">
        <h1>Sign In</h1>
        <hr>
          <div class="form-group">
          <label for="email">Please Enter Your Email:</label>  
          <input
              id="newSessionForm"
              type="email"
              class="form-control"
              name="email"
              placeholder="Email">
          </div>
      
          <div class="form-group">
          <label for="password">Please Enter Your Password:</label>  
          <input
              id="newSessionForm"
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
            >
          </div>
      
          <input type="submit" value="Submit" class="btn btn-outline-success">
        </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>